<div class="container mt-3 mb-3">
  <a href="/movies" class="btn">Go Back</a>
  <h1 class="title">{{title}}</h1>
  <div class="row random">
    <div class="col-sm-3 pr-1">
    <img class="img-movie" src="{{movie.image}}" alt="">
    </div>
    <div class="col-sm-9">
      <h2>{{movie.title}}</h2>
      <h3>{{movie.director}}</h3>
      <h4>Stars</h4>
      <ul>
       {{#each movie.stars as |star|}}
        <li>{{star}}</li>
       {{/each}}
      </ul>
      
      <ul id="stars">
      </ul>
      <p>{{movie.description}}</p>
      <div>
        {{#each movie.showtimes as |showtime|}}
        <span>{{showtime}} |</span>
       {{/each}}
      </div>
    </div>
  </div>
</div>
